@model BTS630a04.Models.Location

@{
    ViewBag.Title = "Delete A Location";
}
<span class="usecase">UC 01, UC 02, UC 04</span>
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Location</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <br /><input  type="submit" value="Delete"  /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
