@model BTS630a04.Models.Location

@{
    ViewBag.Title = "View Details Of A Location";
}
<span class="usecase">UC 01, UC 02, UC 04</span>
<h2>Details</h2>

<fieldset>
    <legend>Location</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LocationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
